<div class="md-form">
    <div class="row">
        <div class="col-10">
            <form [formGroup]="searchForm">
                <input type="search" [formControl]="typeahead" id="form-autocomplete"
                    class="form-control mdb-autocomplete" placeholder="Search" (input)="suggest()">
            </form>

        </div>
        <div class="col">
            <button class="btn btn-primary" type="button" (click)="hideSuggestions()">Cancel</button>
        </div>
        <div class="col">
            <mat-icon aria-hidden="false" aria-label="home" (click)="goToHome()" style="cursor: pointer;"> home
            </mat-icon>
        </div>
    </div>
    <div class="row">
        <div class="suggestions" *ngIf="suggestions.length">
            <div class="row">
                <div class="col">
                    <p *ngFor="let s of suggestions" (click)="onDeviceClick(s);" id="suggestion_col">{{s.device_name}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>